*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merriweather;
}

.above{
    position: absolute;
    z-index: 9999;
}

a:hover, .btnEntrar:hover{
    text-decoration: none;
}

.btnEntrar{
    display: block;
    width: 150px;
    height: 47px;
    left: 0px;
    top: 0px;

    background: #E85E4C;
    border-radius: 40px;
    border: 0;

    margin-right: 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 120%;    

    text-align: center;
    color: #CDD3DB;        
}

.btnEntrar:hover{
    background: rgb(235, 57, 34);
}

.btnSecondary{
    width: 216px;
    height: 49px;
    left: 0px;
    top: 0px;

    background: #553463;
    border-radius: 40px;
    border: none;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;   

    text-align: center;

    color: #CDD3DB;
    margin-top: 10px;
}

.btnSecondary:hover{
    border: 1px solid #CDD3DB;
}

#title-1{
    font-style: normal;
    font-weight: 300;
    font-size: 67px;
    line-height: 110%;
    
    text-align: center;
    letter-spacing: 0.15em;

    color: #666666;        
}

#title-2{
    font-style: normal;
    font-weight: normal;
    font-size: 67px;
    line-height: 110%;
    
    text-align: center;
    letter-spacing: 0.15em;        
    
    color: #CDD3DB;
}

.subtitle{
    display: flex;    
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 120%;

    text-align: center;

    color: #666666;                                        
}

.buttons{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;    
    align-items: center;
}

@media only screen and (max-width: 320px){
    .content{
        margin-top: 500px;        
    } 

    .header img{
        margin-left: 25%;
    } 

    .img_desk,.logo_desk, .btnEntrar, .title, .subtitle {
        display: none;
    }
}

@media only screen and (min-width:375px) and (max-width: 424px){
    .container{
        height: 100%;
    }

    .content{
        margin-top: 500px;
    }

    .header img{
        margin-left: 28%;
    }  

    .img_desk,.logo_desk, .btnEntrar, .title, .subtitle {
        display: none;
    }
}

@media only screen and (min-width: 425px){
    .content{
        margin-top: 500px;
    } 

    .img_desk,.logo_desk, .btnEntrar, .title, .subtitle {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){ 
    .container{
        display: flex;    
        align-items: flex-start;
    }

    .btnEntrar, .subtitle{
        display:block;
    }

    .header{
       display: flex;       
       align-items: flex-end;
       justify-content: space-between;
    }

    .header img{
        width: 250px;
        margin-top: 20px;
        margin-left: 280px;
    }    

    .content{
        width: 80%;
        margin-top: 350px;
        margin-left: 90px;        
        
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .title{
        display: flex;        
    }        

    .btnSecondary{
        font-size: 21px;
    }

    .btnEntrarSec, .logo_mobile, .img_mobile{
        display: none;
    }
    
    
  }

 @media only screen and (min-width: 1024px){
    .btnEntrar, .title, .subtitle{
        display:block;
    }

    .btnEntrarSec{
        display: none;
    }

    .header{
        width: 90%;
        display: flex;       
        align-items: flex-end;
        justify-content: space-between;
    }

    .header img{
        width: 250px;
        margin-top: 20px;
        margin-left: 450px;
    }  

    .content{        
        margin-top: 350px;        
        margin-left: 300px;
        display:flex;
        flex-direction: column;
        align-items: flex-start;        
    }

    .title{
        display: flex;
    }

    .container{
        display: flex;    
        align-items: flex-start;
    }
}

