*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merriweather;
}

.above{
    position: absolute;
    z-index: 9999;
}

.container{
    margin:0;
    padding: 0;
    
    min-width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
    /* align-items: center;  */
    flex:1;

    background: #E0E0E0;
}

.container img {
    max-width: 64.5%;
    max-height: 100%;
    
    width: auto;
    height: auto; 
}

.header{
    min-width: 100%;
    min-height: auto;    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header img{
    margin-top: 15px;
    margin-left: 40%;
}

.btnEntrar{
    width: 180px;
    height: 47px;
    left: 0px;
    top: 0px;

    background: #E85E4C;
    border-radius: 40px;
    border: 0;

    margin-right: 20px;

    /* font-family: Merriweather; */
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 120%;    

    text-align: center;
    color: #CDD3DB;
}

.btnEntrar:hover{
    background: rgb(235, 57, 34);
    /* background-color: transparent;
    border: 2px solid #E85E4C; */
}

.content{
    min-width: 100%;
    min-height: auto;  

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 

    margin-top: 25%;
    margin-left: 24%;
}

/* .content div{
    min-width: 100%;
    min-height: auto;  
} */

.title{
    display: flex;
    align-items: center;
    justify-content: center;

    /* margin: 10px; */
}

#title-1{
    font-style: normal;
    font-weight: 300;
    font-size: 67px;
    line-height: 110%;
    
    text-align: center;
    letter-spacing: 0.15em;

    color: #666666;
}

#title-2{
    font-style: normal;
    font-weight: normal;
    font-size: 67px;
    line-height: 110%;
    
    text-align: center;
    letter-spacing: 0.15em;
    
    color: #CDD3DB;
}

.subtitle{    
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 120%;

    text-align: center;

    color: #666666;                                         
}

.btnComece{
    width: 268px;
    height: 57px;

    background: #553463;
    border-radius: 40px;
    border: none;

    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 120%;    

    text-align: center;

    color: #CDD3DB;
    margin-top: 10px;
}